.admonition {
  padding-left: .8em !important;
  margin: 1.5625em 0;
  padding: 0rem;
  overflow: hidden;
  page-break-inside: avoid;
  border-left: .3rem solid #42b983;
  border-radius: .3rem;
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, .05), 0 0 0.05rem rgba(0, 0, 0, .1);
}

p.admonition-title {
  position: relative;
  margin: -.6rem -.6rem .8em -1rem !important;
  padding: .4rem .6rem .4rem 1rem;
  font-weight: 700;
  background-color: rgb(48, 202, 113, .2)
}

.info>.admonition-title {
  background-color: rgba(0, 184, 212, .1);
}

.warning>.admonition-title {
  background-color: rgba(255, 145, 0, .1);
}

.error>.admonition-title {
  background-color: rgba(255, 82, 82, .1);
}

.admonition.info {
  border-color: #00b8d4;
}

.admonition.warning {
  border-color: #ff9100;
}

.admonition.error {
  border-color: #ff5252;
}

.info>.admonition-title::before {
  background-color: #00b8d4;
  border-radius: 50%;
}

.warning>.admonition-title::before {
  background-color: #ff9100;
  border-radius: 50%;
}

.error>.admonition-title::before {
  background-color: #ff5252;
  border-radius: 50%;
}

.admonition>p:not(.admonition-title) {
  margin-bottom: 2px !important;
}

.admonition ul,
.admonition ol {
  padding-inline-start: 25px !important;
}